In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Importing Dataset
ds=pd.read_csv('cleaned_product_data.csv')

In [ ]:
#checkingInfo
ds.info()
print(ds.to_string())

In [ ]:
#Handling invalid values 
ds['Quantity'].replace(['two'],'2',inplace=True)

In [ ]:
#Displaying dataset
print(ds.to_string())

In [ ]:
#handling  missing values 
from sklearn.impute import SimpleImputer
si=SimpleImputer(missing_values=np.nan,strategy='mean')
ds[['Quantity']]=si.fit_transform(ds[['Quantity']])

In [ ]:
#One Hot Encoding for Product Column
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False)
encoded_data=ohe.fit_transform(ds[['Product']])

In [ ]:
#Encoded Data of Product column
encoded_data

In [ ]:
#Unique values in product column
ds['Product'].unique()

In [ ]:
#Make new columns of encoded_dataof Product column and creating new dataframe 
new_columns=ohe.get_feature_names_out(['Product'])
encoded_df=pd.DataFrame(encoded_data,columns=new_columns)

In [ ]:
#New Encoded dataframe
encoded_df

In [25]:
#Dropping invalid column
ds.drop(columns=['Unnamed: 0'],inplace=True)

In [ ]:
#Joining original dataframe and new dataframe
ds=pd.concat([ds,encoded_df],axis=1)

In [ ]:
print(ds.to_string())

In [20]:
#One Hote Encoder for City column
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False)
encoded_city_data=ohe.fit_transform(ds[['City']])

In [21]:
#Encoded city column data
encoded_city_data

array([[0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.]])

In [22]:
#Make new columns for city and new encoded_City_dataframe
new_city_columns=ohe.get_feature_names_out(['City'])
encoded_city_df=pd.DataFrame(encoded_city_data,columns=new_city_columns)

In [23]:
#Joining original dataset and new encoded city dataframe 
ds=pd.concat([ds,encoded_city_df],axis=1)

In [30]:
ds

,CustomerID,Price,Quantity,PurchaseDate,Product_Desktop,Product_Laptop,Product_Smartphone,Product_Tablet,City_Bangalore,City_Chennai,City_Delhi,City_Mumbai,City_Pune
0,1000,15000.0,2.283333,2022-02-25,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1002,45000.0,2.000000,2022-09-08,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1003,15000.0,2.000000,2023-12-02,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,1004,30000.0,2.000000,2022-02-25,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1005,15000.0,1.000000,2021-06-15,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,1091,30000.0,1.000000,2021-04-01,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
68,1092,30000.0,3.000000,2022-03-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
69,1094,60000.0,2.000000,2022-03-12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
70,1095,15000.0,3.000000,2022-01-26,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
71,1098,60000.0,4.000000,2022-08-09,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [27]:
#Dropping 'Product' column as it no longer required
ds.drop(columns='Product',inplace=True)

In [29]:
#Dropping 'City' column asit no longer required
ds.drop(columns='City',inplace=True)